<%= simple_form_for [:users, @product] do |f| %>

<div class="align-items-center gap-2 mb-3">
    <div class="flex-grow-1 fw-bold fs-5">
      <%= f.input :name, input_html: { class: 'form-control form-control-lg rounded-pill', placeholder: 'Add new product' } %>
    </div>
    <div class="flex-grow-1 fw-bold fs-5">
      <%= f.input :description, input_html: { class: 'form-control form-control-lg rounded-pill', placeholder: 'Add description' } %>
    </div>
    <div class="row g-2">
     <div class="col-md fw-bold fs-5">
      <%= f.input :price, input_html: { class: 'form-control form-control-lg rounded-pill', placeholder: 'Add price' } %>
      </div>
      <div class="col-md fw-bold fs-5">
      <%= f.input :stock, input_html: { class: 'form-control form-control-lg rounded-pill', placeholder: '' } %>
    </div>
    <div class="col-md fw-bold fs-5">
      <%= f.input :photo, as: :file, input_html: { class: 'form-control form-control-lg rounded-pill', placeholder: '' } %>
    </div>
    </div>
      <%= f.submit @product.new_record? ? "Save" : "Update", class: 'btn btn-success p-2 mt-4 w-100' %>
      <%= link_to 'Back to Products', users_products_path,  class: "btn btn-dark mt-3" %>
    </div>
  </div>
<% end %>
