<div class="modal fade" id="productModal-<%= product.id %>">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="productModalLabel<%= product.id %>"><%=product.name%></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <h5 class="btn btn-dark btn-sm mt-3 position-absolute px-3 end-4 rounded-5 fw-bold"><%=rango = rand(10..40) %>% OFF</h5>
        <% if product.photo.attached? %>
          <%= image_tag url_for(product.photo), class: "card-img-top rounded-top", alt: product.name %>
        <% else %>
            <img src="<%= image_tag 'no-image.jpg' %>" class="card-img-top rounded-top" alt="<%= product.name %>">
        <% end %>
         <h4 class="mt-3"><%= product.name %></h4>
              <p class="text-muted">stock: <%= product.stock %></p>
              <p><%= product.description %></p>
              <div class="d-flex justify-content-center ">
                <strong><h3 class="card-title mt-2 mb-2 fw-bold">$<%= number_with_precision(product.price, precision: 0) %></h3></strong>   <h6 class="discount mt-3 ms-1 me-3">$<%= number_with_precision(product.price * rango/100, precision: 0 )%></h6>
                <% average_rating = product.reviews.average(:rating)&.round(2) || 0 %>
                <%  average_rating.round.to_i.times do %>
                <i class="fa-solid fa-star mt-3" style="color: #FFD43B;"></i>
                <%end%>
          <h6 class="rating"><%= average_rating%></h6>
    </div>
      </div>
      <div class="modal-footer mt-4">
        <%= link_to "Edit", edit_users_product_path(product), class: "button btn btn-lg w-80 position-absolute bottom-0 start-0 end-0 mb-3 ms-3 me-3"%>
      </div>
      </div>
    </div>
  </div>
