<div class="container shadow rounded-4 my-5 p-3 p-md-5 bg-dark text-white">
  <h1 class="text-center text-md-start">
    <strong class="fs-2">Your Cart <i class="fa-solid fa-cart-plus"></i></strong>
  </h1>

  <div class="container-fluid mt-4 p-0 bg-light text-black shadow border-success rounded-top-4">
    <div class="modal-body p-3 p-md-4">
      <% if @cart.line_items.any? %>
        <ul class="list-group">
          <% @cart.line_items.each do |line_item| %>
            <li class="list-group-item rounded-4 mb-3">
              <div class="row align-items-center">

                <div class="col-12 col-md-3 text-center">
                  <% if line_item.product.photo.attached? %>
                    <%= image_tag url_for(line_item.product.photo), class: "img-fluid rounded", style: "max-width: 130px; height: auto;" %>
                  <% else %>
                    <%= image_tag 'no-image.jpg', class: "img-fluid rounded", style: "max-width: 130px; height: auto;" %>
                  <% end %>
                </div>


                <div class="col-12 col-md-6 text-center text-md-start mt-3 mt-md-0">
                  <%= render "subtotal", line_item: line_item %>
                </div>

                
                <div class="col-12 col-md-3 text-center mt-3 mt-md-0">
                  <%= render "line_items/item", line_item: line_item %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>

        <hr>
        <div class="container d-flex justify-content-between align-items-center mt-3">
          <strong class="fs-4">Total: <%= render 'total', cart: @cart %></strong>
        </div>
      <% else %>
        <p class="text-center py-4">Your cart is empty.</p>
      <% end %>
    </div>
  </div>

  <div class="mt-4">
    <%= button_to 'Checkout', orders_path, class: "btn btn-success w-100 btn-md p-2 rounded-bottom-4" %>
  </div>
</div>
