<aside class="sidebar-bg">
  <div class="d-grid gap-2 p-3">
    <div class="p-3 accordion button accordion-flush" id="accordionFlushExample">
      <div class="accordion-item ">
        <h2 class="accordion-header">
        <button class="accordion-button collapsed button text-white fw-bold fs-3" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Categories <i class="fa-solid fa-arrows-up-down ms-3"></i>
        </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body fs-4 fw-bold">
            <ul class="list-unstyled">
              <%= render partial: 'category', collection: @categories %>
            </ul>
          </div>
        </div>
      </div>
  </div>

    <div class="grid text-center m-2">
      <h3 class="text-white fw-bold mt-1 mb-3 ">Price </h3>
      <%= form_with url: products_path, method: :get do |form| %>
        <div class="g-col-6"> <%= form.number_field :min_price,
                            class:" form-control form-control-lg rounded-pill mb-3",
                            placeholder: "min price",
                            onChange: 'this.form.requestSubmit()',
                            value: params[:min_price] %> </div>
        <div class="g-col-6"> <%= form.number_field :max_price,
                            class:" form-control form-control-lg rounded-pill",
                            placeholder: "max price",
                            onChange: 'this.form.requestSubmit()',
                            value: params[:max_price] %> </div>
      <% end %>



    </div>
  </div>
</aside>

<div class="container mt-5">
  <div class="d-flex flex-column flex-md-row justify-content-between align-items-center gap-3 mt-5">
    <h1>
      <% if @selected_category.present? %>
        <%= @selected_category.name %>
      <% elsif params[:order_by] == "Best offers" %>
        🔥 Best Offers
      <% elsif params[:order_by] == "Best sellers" %>
        🔥 Best Sellers
      <% else %>
        Products
      <% end %>
    </h1>

      <%= link_to products_path, class: 'btn btn-outline-dark fw-bold' do %>
        All products
      <% end %>
    <div>
      <%= form_with url: products_path, method: :get do |form| %>
        <%= form.select :order_by,
            options_for_select(Product::ORDER_BY.keys.map { |order| [order, order]}, params[:order_by]),
            {},
            class: "form-select form-select-lg my-5",
            onchange: 'this.form.requestSubmit()' %>
        <% end %>
    </div>
    <div class="pagy bg-light"><%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %></div>
  </div>

  <div class="row">
    <%= render @products %>
  </div>
</div>
